@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body{
  background-color: white;
}

input{outline: none;}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  /* -webkit-appearance: none; */
}
.safari-backdrop-blur-fallback {
  background-color: rgba(0, 73, 0, 0.4); /* Fallback color */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For iOS Safari */
}